apiVersion: v2
name: ccxdeps
description: A Helm chart for deploying CCX dependencies

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)


version: 0.6.12


dependencies:
  - name: postgres-operator
    repository: https://opensource.zalando.com/postgres-operator/charts/postgres-operator
    version: 1.14.0
    condition: installOperators
  - name: ingress-nginx
    repository: https://kubernetes.github.io/ingress-nginx
    version: 4.13.0
    condition: ingressController.enabled
  - name: nats
    repository: https://nats-io.github.io/k8s/helm/charts/
    version: 1.3.10
    condition: nats.enabled
  - name: external-dns
    repository: "oci://registry-1.docker.io/bitnamicharts"
    version: 9.0.0
    condition: external-dns.enabled
  - name: mysql-operator
    version: 2.2.6
    repository: https://mysql.github.io/mysql-operator/
    condition: oracle-mysql-operator.enabled
    alias: oracle-mysql-operator
  - name: mysql-innodbcluster
    version: 2.2.6
    repository: https://mysql.github.io/mysql-operator/
    condition: mysql-innodbcluster.enabled
  - name: ccx-monitoring
    repository: https://severalnines.github.io/helm-charts/
    version: 0.6.1
    condition: ccx-monitoring.enabled
  - name: keycloak
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 24.8.1
    condition: keycloak.enabled

