apiVersion: v2
name: clustercontrol
description: A ClusterControl Helm Chart for Kubernetes

type: application

version: "0.2.1"
appVersion: "2.3.4-17501"

dependencies:
  - name: mysql-operator
    version: 2.0.20
    repository: https://mysql.github.io/mysql-operator/
    condition: installMysqlOperator
  - name: mysql-innodbcluster
    version: 2.0.20
    repository: https://mysql.github.io/mysql-operator/
    condition: createDatabases
  - name: victoria-metrics-single
    repository: https://victoriametrics.github.io/helm-charts/
    version: 0.9.16
    condition: monitoring.enabled
    alias: monitoring
  - name: ingress-nginx
    repository: https://kubernetes.github.io/ingress-nginx
    version: 4.11.8
    condition: ingressController.enabled
