# Default values for cluster control.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# REQUIRED fqdn for cluster control instance provided with this cc instance.
fqdn: &fqdn localhost

# Set to true to use development versions of images
devBuild: false

# ClusterControl helm chart will ship victoria metrics for monitoring by default
# host of your prometheus/victoria metrics instance, MUST be available on port 9090
# REQUIRED, if not provided, metrics and dashboards won't be available
prometheusHostname: # defaults to .Release.name-monitoring-server

# k8s storage class used for PVs across cc. This is a global variable applied to all PVCs/PVs to simplify things.
# OPTIONAL, if not provided, default storage class will be used
storageClassName:

# OPTIONAL install oracle mysql operator?
# You should set this to false if operator is already installed in your cluster or using external DB for ClusterControl
installMysqlOperator: true
# OPTIONAL create databases using mysql operator? If false, you must create the databases yourself.
createDatabases: true

# MySQL operator configuration
mysql-operator:
  envs:
    k8sClusterDomain: cluster.local
# OPTIONAL install ingress controller? Set to false if you already have ingress controller installed in your cluster
ingressController:
  enabled: True

# this section allows to deploy a single default ClusterControl instance in the k8s cluster
cmon:
  license: # YOUR LICENSE HERE
  sshKeysSecretName: # YOUR SSH keys secret name here
  # REQUIRED, ClusterControl id, if unsure, leave default
  id: "00000000-0000-0000-0000-000000000000"
  # rpc username
  user: ccrpc
  # rpc password
  password: # SuperS3cr3tVeryL0ngP@ssw0rd
  # mysql database used for ClusterControl
  # if not provided, default values will be used, default point to mysql operator innodb cluster (included as a chart dependency)
  db:
    # overwrite the below if you are using external DB for ClusterControl
    host: # defaults to .Release.name
    port: 3306
    name: cmon
    user: cmon
    password: cmon
  image: severalnines/cmon:2.3.4-17501
  devImage: severalnines/cmon:2.3.4-17501
  extra_args: # extra arguments for ClusterControl binary
    - -s
    - --no-log-db
    - -b 0.0.0.0
    - --mysql-connect-retries=5
    - -d
#  resources:
#    requests:
#      cpu: 100m
#      memory: 1Gi
  sd:
    image: severalnines/cmon-sd:latest
    devImage: severalnines/cmon-sd:latest
#    resources:
#      requests:
#        cpu: 100m
#        memory: 1Gi
  exporter:
    image: severalnines/cmon_exporter-linux-amd64:main
    devImage: severalnines/cmon_exporter-linux-amd64:main
#    resources:
#      requests:
#        cpu: 100m
#        memory: 1Gi
  ccmgr:
    image: europe-docker.pkg.dev/severalnines-public/clustercontrol/ccmgr:release-2.3.4-182
    devImage: europe-docker.pkg.dev/severalnines-public/clustercontrol/ccmgr:main-dev-latest
#    resources:
#      requests:
#        cpu: 100m
#        memory: 1Gi
  kuberProxy:
    image: europe-docker.pkg.dev/severalnines-public/clustercontrol/kuber-proxy:release-0.1.0
    devImage: europe-docker.pkg.dev/severalnines-public/clustercontrol/kuber-proxy:main-dev-latest
#    resources:
#      requests:
#        cpu: 100m
#        memory: 1Gi
    env:
      HTTP_PORT: 8081
      GRPC_PORT: 50051
      JWT_SECRET_PATH: /usr/share/ccmgr/jwt_secret.key
      BASE_DIR: /usr/share/kuber-proxy
      STATE_STORAGE: jetstream
      DAPR_APP_ID: kuber-proxy
      # Optional environment variables (uncomment and configure as needed)
      # PROXY_CERT_PATH: /path_to/server.crt
      # PROXY_KEY_PATH: /path_to/server.key
  ingress:
  # Although not strictly necessary it's **strongly** recommended to use ingress for cmon
    enabled: true
    # OPTIONAL ingress class name
    ingressClassName: nginx
    # OPTIONAL ssl configuration
    ssl:
      # OPTIONAL cluster issuer name
      clusterIssuer: # letsencrypt-prod


# External dependencies and helm charts below
# For exact documentation refer to the official helm chart documentation
# https://github.com/mysql/mysql-operator/blob/trunk/helm/mysql-innodbcluster/values.yaml

mysql-innodbcluster:
  enabled: true
  credentials:
    root:
      user: cmon
      password: cmon
      host: "%"
  serverInstances: 1
  tls:
    useSelfSigned: true
  datadirVolumeClaimTemplate:
    resources:
      requests:
        storage: 2Gi

# https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-single#parameters
# These defaults provide minimal needed for ClusterControl metrics and dashboards to work
# Feel free to adjust as needed, however keep in mind required labels and annotations and service discovery
monitoring:
  enabled: true
  cmon_sd_url: &cmon_sd_url "http://cmon-master:8080"
  server:
    service:
      servicePort: 9090
      clusterIP: null
    statefulSet:
      enabled: false
    podAnnotations:
      prometheus.io/scrape: 'true'
      prometheus.io/port: '8428'
    extraArgs:
      envflag.enable: "true"
      envflag.prefix: VM_
      loggerFormat: json
      promscrape.maxScrapeSize: 56777216
      maxLabelsPerTimeseries: 99
    scrape:
      enabled: true
      configMap: ""
      ### below is standard victoria metrics config, change as needed
      ### provided is simple, default config
      config:
        global:
          scrape_interval: 1m
          scrape_timeout: 10s
          external_labels:
            #REQUIRED monitor: clustercontrol is required DO NOT REMOVE
            monitor: clustercontrol
            #REQUIRED use_cmon_sd is required DO NOT REMOVE
            use_cmon_sd: true
      extraScrapeConfigs:
        # REQUIRED cmon service discoveri is required for cmon metrics and dashboards to work
        ### CMON SERVICE DISCOVERY
        - job_name: cmon-sd
          http_sd_configs:
            - url: *cmon_sd_url
          relabel_configs:
            - source_labels: [__address__]
              regex: '(.*):(\d+)'
              target_label: ip
              replacement: '${1}'
            - target_label: use_cmon_sd
              replacement: true
        ### END CMON SERVICE DISCOVERY

ingress-nginx:
  controller:
    config:
      allow-backend-server-header: "true"
      allow-snippet-annotations: "true"
      use-forwarded-headers: "true"
    kind: DaemonSet
    metrics:
      enabled: true
    publishService:
      enabled: true
    service:
#      loadBalancerIP: xxx.xxx.xxx.xxx
      externalTrafficPolicy: "Local"
      ports:
        50051-tcp: 50051
  tcp:
    50051: "clustercontrol/cmon-master:50051"
