{{- if and .Values.rbac.create .Values.rbac.namespaces.create }}
{{- $nsList := .Values.rbac.namespaces.targets | default (list) }}
{{- range $ns := $nsList }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ $ns | quote }}
  annotations:
    helm.sh/resource-policy: keep
    argocd.argoproj.io/sync-options: Prune=false,Delete=false
    argocd.argoproj.io/compare-options: IgnoreExtraneous
  labels:
    {{- include "agent-operator.labels" $ | nindent 4 }}
{{- end }}
{{- end }}